<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      CHAT BOT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="footer">
    <ion-button (click)="listen()" color="danger"><ion-label class="icons">
        <ion-icon class="mic" name="mic" color="light" ></ion-icon>
    </ion-label></ion-button>
   
          
        <ion-input placeholder="Enter a message.."></ion-input>
    
      <ion-label class="icons">
        <ion-icon class="send" name="send"></ion-icon>
      </ion-label>
  </div>
</ion-content>
