.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: pre-wrap;
    margin-bottom: 10px;
}

ion-input {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 18px;
}
.icons {
    display: flex;
    align-items: center;
    padding: 15px;

    ion-icon {
        font-size: 125%;
    }
}
